@charset "UTF-8";

body {
    background-color: rgb(109, 253, 255);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: blue;
}
h1#principal {
    text-align: center;
    background-color: blue;
    color: white;
}
h2 {
    color: blue;
}
h3 {
    color: rgb(6, 14, 129);
    ;
}
.básico {
    color: rgb(80, 180, 119);
    font-weight: bold;
}
.intermediário {
    color: rgb(150, 180, 80);
    font-weight: bold;
}
.avançado {
    color: rgb(180, 80, 80);
    font-weight: bold;
}